@font-face {
    font-family: Outfit;
    src: url(./Outfit/Outfit-Regular.ttf);

}


body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.qr-code-img {
    border-radius: 10px;
}

h2 {
    margin: 0;
    padding: 5% 5%;
    font-family: Outfit;

}

p {
    margin: 0;
    padding: 0 10% 7% 10%;
    Font-size: 15px;
    font-family: Outfit;
}

.window {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: auto;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 1em;
}